// Colors
$dark-grey: #333;
$dark-green: #2d6830;
$green: #3D9041;
$light-green: #e8f5e9;
$red: #b71c1c;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

// Fonts sizes
$fs-large: 2rem;
$fs-medium: 1.4rem;
$fs-small: 1rem;

